.flex-container{

}
.title-container{
    text-align: center;
    background-color: #a7d7e4;
    border-radius: 10px;
    max-width: 531px;
    margin-left: auto;
    margin-right: auto;
    font-size: 140%;
    margin-bottom: 40px;
    
}
.form-container {
    border: 0px  #ffeace; /* Gray border */
    padding: 20px; /* Space between the content and the border */
    background-color: #ffeace; /* Light background color */
    width: 491px; /* Adjust the width as needed */
    border-radius: 10px; /* Rounded corners */
    margin: 0 auto; /* Center the form on the page */
    height: fit-content;
<<<<<<< HEAD
    line-height: 2.8;
=======
    line-height: 3;
>>>>>>> 62f7b0fba7586abc759684586b41b22ef8553dd7
  }