body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #003049;
    /* background-image: url("Khan.jpeg"); */
    background-size: 500px;
  }
  
  #quiz {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d62828;
    border-radius: 5px;
    box-shadow: none;
  }
  
  h1 {
    text-align: center;
    color: #f77f00;
  }
  img {
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    border-color: black;
    padding: 5px;
    padding-left: 180px;
    padding-right: 170px;
    width: 200px;
  }

  #question {
    max-width: 500px;
    margin: 0;
    padding: 20px;
    margin-bottom: 20px;
    text-decoration: dashed;
    color: black;
  }
  
  #options {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #003049;
    color: #eae2b7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fcbf49;
  }