body{
  background-color: #8034eb;
}
.center{
  color: #8034eb;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
  margin-top: 20px;
}
#middle{
  background-color: #ffffff;
}
#big_raga{
    width: 200px; /* Adjust image size as needed */
    height: auto;
    margin-right: 20px; /* Adds space between the image and the text */
    margin-left: 250px;
}
.information{
    max-width: 600px; /* Adjust max width to control the text wrapping */
}
/* Profile container to hold the image and text together */
.profile-container {
  display: flex;
  align-items: flex-start; /* Aligns the items at the top */
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

#NAME {
  font-weight: bold;
  font-size: 24px; /* Adjust size to your preference */
  margin-bottom: 10px;
  margin-top: 60px;
  margin-left: 50px;
}
.contact{
 list-style-type: square;
 font-weight: bold;
}
.contactMediaTable{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 25px;
}
#linkedin{
width: 40px;
}
#github{
width: 40px;
}
#mail{
  width: 40px
}

.text-container {
  margin-left: 20px;
}

#description{
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 250px;
  margin-right: 383px;
}